<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Trello Backlogs Aggregator</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="container">
        <div th:fragment="menu">
            <nav class="navbar navbar-default">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/}">Accueil</a></li>
                    <li><a th:href="@{/sprint}">Sprint</a></li>
                    <li><a th:href="@{/readytodeliver}">Ready to deliver</a></li>
                    <li><a th:href="@{/spentTime}">Saisie de Temps</a></li>
                    <li><a th:href="@{/administration}">Administration</a></li>

                </ul>
                <button class="btn btn-default pull-right" onclick="activateBatch(this)">Start Batch</button>
            </nav>
            <script th:inline="javascript">
                /*<![CDATA[*/
                var contextPath = /*[[@{/}]]*/ '';
                /*]]>*/
            </script>
        </div>
    </div>
</body>
</html>
