.borderleft {
    border-left: black 1px solid;
}
.borderright {
    border-right: black 1px solid;
}
.border-bottom{
    border-bottom: black 1px solid;
}

.day {
    width: 100px;
}

.currentDay {
    font-weight: bold;
    background-color: #b3bac5;
}

.disabled {
    background: grey;
    cursor: none;
}

.clickable {
    cursor: pointer;
}

.cardsTrello {
    border: 1px solid grey;
    border-radius: 15px;
    padding: 5px;
    /*margin: 0px 5px 10px 0px;*/
    display: flex;
    background: white;
}

.modalTrello {
    max-width: 900px !important;
    overflow: auto !important;
    max-height: 600px !important;
}

.fondCardTrello {
    background: #ebecf0;
    border-radius: 15px;
}

.fluo {
    background-color: yellow ;
}

.title {
    font-weight: bold;
    font-size: large;

}
.title:before {
    content: "\0000A0\00003C\0000A0";
}
.title:after {
    content: "\0000A0\00003E";
}

.header {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    color: #777;
}

details summary:hover {
    cursor: pointer;
}


input[type=checkbox].checkValue {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    cursor: pointer;

}

input[type=checkbox].checkValue.only{
    cursor: default;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}

input[type="checkbox"].checkValue:after {
    font-family: FontAwesome;
    content: '\f04d';
    color:red;
    font-weight: 900;
}
input[type="checkbox"].checkValue:checked:after {
    content: '\f00c';
    font-family: FontAwesome;
    color: green;
    font-weight: 900;
}


.trello-green{
    background-color: #519839;
    color: white;
}
.trello-red {
    background-color: #eb5a46;
    color: white;
}
.trello-sky {
    background-color: #00c2e0;
    color: white;
}
.trello-yellow {
    background-color: #f2d600;
    color: black;
}
.trello-orange {
    background-color: #ff9f1a;
    color: white;
}
.trello-purple {
    background-color: #c377e0;
    color: white;
}
.trello-blue {
    background-color: #0079bf;
    color: white;
}
.trello-lime {
    background-color: #51e898;
    color: white;
}
.trello-pink {
    background-color: #ff78cb;
    color: white;
}
.trello-black {
    background-color: #344563;
    color: white;
}
.trello-none{
    background-color: #b3bac5;
    color: black;
}

.container details summary h2 {
    display:inline;
}
