<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</head>
<div class="container">
    <!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->

    <!--/*/ <th:block th:include="fragments/errors :: errors"></th:block> /*/-->

    <h2>User stories ready to deliver</h2>
    <table class="table table-striped">
        <tr>
            <th>Backlog</th>
            <th>Title</th>
        </tr>
        <th:block th:if="cardsReadyToDeliver">
            <tr th:each="cardwithmembers : ${cardsReadyToDeliver}">
                <td th:text="${cardwithmembers.backlogName}" />
                <td><a th:href="${cardwithmembers.card.shortUrl}" th:text="${cardwithmembers.card.name}" /></td>                
            </tr>
        </th:block>
    </table>

</div>
</html>