<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Spring Boot</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../static/css/custom.css" th:href="@{css/custom.css}" rel="stylesheet" media="screen" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
    th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

<link href="../static/css/guru.css" th:href="@{css/guru.css}" rel="stylesheet" media="screen" />
</head>
<div class="container">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a href="/">Accueil</a></li>
            <li class="active"><a href="/sprint">Sprint</a></li>
        </ul>
    </nav>

    <h2>Sprint</h2>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Business complexity</th>
            <th>Consumed complexity</th>
            <th>Remained complexity</th>
            <th>Total complexity</th>
        </tr>
        <tr>
            <td/>           
            <td th:text="${sprint.businessComplexity}"/>
            <td th:text="${sprint.consumedComplexity}"/>
            <td th:text="${sprint.remainedComplexity}"/>
            <td th:text="${sprint.totalComplexity}"/>
        </tr>
    </table>
    
    <h2>US</h2>
    <table class="table table-striped" th:each="column : ${sprint.columns}">
        <tr>
            <th>Statut</th>
            <th>Titre</th>
        </tr>
        <tr th:each="card : ${column.cards}">
            <td th:text="${column.name}"/>
            <td th:text="${card.name}"/>
        </tr>
    </table>

</div>
</html>