<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</head>
<div class="container">
    <!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
    
    <!--/*/ <th:block th:include="fragments/errors :: errors"></th:block> /*/-->
    
    <h2>Sprint</h2>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Nb items</th>
            <th>Business complexity</th>
            <th>Consumed complexity</th>
            <th>Remained complexity</th>
            <th>Total complexity</th>
        </tr>
        <tr th:each="column : ${sprint.columns}">
            <td th:text="${column.name}" />
            <td th:text="${column.cards.size()}" />
            <td
                th:text="${#numbers.formatDecimal(column.businessComplexity, 1, 2)}" />
            <td
                th:text="${#numbers.formatDecimal(column.consumedComplexity, 1, 2)}" />
            <td
                th:text="${#numbers.formatDecimal(column.remainedComplexity, 1, 2)}" />
            <td
                th:text="${#numbers.formatDecimal(column.totalComplexity, 1, 2)}" />
        </tr>
        <tr>
            <td>TOTAL</td>
            <td th:text="${totalNbItemsInSprint}"></td>
            <td
                th:text="${#numbers.formatDecimal(sprint.businessComplexity, 1, 2)}" />
            <td
                th:text="${#numbers.formatDecimal(sprint.consumedComplexity, 1, 2)}" />
            <td
                th:text="${#numbers.formatDecimal(sprint.remainedComplexity, 1, 2)}" />
            <td
                th:text="${#numbers.formatDecimal(sprint.totalComplexity, 1, 2)}" />
        </tr>

    </table>

    <h2>User Stories</h2>
    <table class="table table-striped"
        th:each="column : ${sprint.columns}">
        <tr>
            <th>Status</th>
            <th>Title</th>
        </tr>
        <tr th:each="card : ${column.cards}">
            <td th:text="${column.name}" />
            <td th:text="${card.name}" />
        </tr>
    </table>

</div>
</html>